@page "/"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject IAccessTokenProvider TokenProvider
@inject IHttpClientFactory ClientFactory
@inject IHttpClientFactory HttpClientFactory
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>
        @if(userDisplayName != null)
        {
            <h1>Hello, @userDisplayName!</h1>
        }
    </Authorized>
    <NotAuthorized>
        Please <a href="authentication/login">Log in</a> before proceeding.
    </NotAuthorized>
</AuthorizeView>


Welcome to your new app.
